// Colours

$primary-colour: #2e3442;
$secondary-colour: #5d5d5d;
$accent-colour: #495675;
$accent-colour2: #49397f;
$gradient-bg: linear-gradient(40deg, rgba(63,51,101,1) 0%, rgba(46,52,66,1) 60%); //73,57,127
$gradient-bg-hero: linear-gradient(170deg, rgba(38,38,38,1) 16%, rgba(43,57,77,1) 75%);

// Media Queries

$laptop: 1440px;
$tablet: 1024px;
$mobile: 740px;

// Typography

h1 {
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;

    @media handheld, only screen and (max-width: $mobile) {
        font-size: 48px;
        line-height: 48px;
    }
}

h2 {
    font-size: 38px;
    color: white;
    margin: 10px 0;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;

    @media handheld, only screen and (max-width: $mobile) {
        font-size: 28px;
    }
}

h3 {
    color: white;
    font-size: 24px;
    margin: 6px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #c2c2c2;
    font-size: 18px;

    @media handheld, only screen and (max-width: $mobile) {
        font-size: 16px;
    }
}

// Global

.res-img {
    width: 100%;
    height: auto;
}

// Page Transition

.page-enter,
.page-leave-to {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.page-leave,
.page-enter-to {
    opacity: 1;
    transition: all 1s ease-in-out;
}

// Transitions
.slide-in-enter {
    opacity: 0;
    transform: translateX(-300px);
}

.slide-in-enter-active {
    animation: shrink-fade-in 0.5s ease-in forwards;
  }
.slide-in-leave-active /* .fade-leave-active below version 2.1.8 */ {
    animation: right-fade-out 0.5s ease-out forwards;
  }

// Animations

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shrink-fade-in {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right-fade-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(300px);
        opacity: 0;
    }
}

@keyframes grow-fade-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.15);
        opacity: 0;
    }
}